---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/js-dark.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>Jake Schuler</title>
	</head>
	<body class="animated-background bg-gradient-to-r from-cyan-500 to-blue-500 text-cyan-300 h-screen w-screen flex flex-col">
		<div class="my-10 mx-5 sm:my-20 sm:mx-20 lg:my-40 lg:mx-96 bg-sky-700 bg-opacity-50 rounded-lg p-5 sm:p-10 flex-1 flex">
			<div class="text-center max-w-full flex-grow">
				<h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold">Jake Schuler</h1>
				<h2 class="text-xl sm:text-2xl">Student, that likes tech</h2>
				<p class="text-left text-base sm:text-lg">Hey there, I'm Jake a student from Wisconsin. I've been coding since age 10 and have been doing it ever since.</p>
				<div class="grid grid-cols-1 sm:grid-cols-2">
					<div>
						<h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold text-left">Experience:</h1>
						<ul class="text-left text-base sm:text-lg">
							<li>JavaScript</li>
							<li>Astro</li>
							<li>Tailwind</li>
							<li>PocketBase</li>
							<li>Express</li>
							<li>Java</li>
						</ul>
					</div>
					<div>
						<h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold text-left">Projects:</h1>
						<ul class="text-left text-base sm:text-lg">
							<li><a class="hover:underline" href="https://github.com/jake-schuler/website">This Website</a></li>
							<li><a class="hover:underline" href="https://github.com/jake-schuler/Discord-to-Website-Bot">Discord to Website Bot</a></li>
							<li><a class="hover:underline" href="https://github.com/jake-schuler/i-guess-thats-an-idea">"I Guess That's An Idea"</a></li>
							<li><a class="hover:underline" href="https://github.com/jake-schuler/wnp-controller">WNP Controller</a></li>
							<li><a class="hover:underline" href="https://gitlab.com/JWSchulerGroup/Counterspell-Game">The Monster Inside of Me</a></li>
							
						</ul>
					</div>
					<ul class="grid grid-cols-3 place-items-center text-3xl sm:text-4xl">
						<li><a href="https://github.com/jake-schuler"><i class='bx bxl-github' ></i></a></li>
						<li><a href="https://gitlab.com/JWSchulerGroup"><i class='bx bxl-gitlab'></i></a></li>
						<li><a href="mailto:jschuler@hackclub.app"><i class='bx bxs-envelope'></i></a></li>
					</ul>
				</div>
			</div>
			<img class="w-24 h-24 sm:w-48 sm:h-48 lg:w-96 lg:h-96 rounded-full float-right self-center ml-auto" src="/profile.jpg" alt="Jake Schuler" draggable="false" />
		</div>
	</body>
</html>

